extends layout

block head
  title= title

block body
  div.container
    div.m-button-container
      section
        a#js-trigger-overlay(type='button')(href='search') Populate
        a#js-trigger-overlay(type='button')(href='search') Search
